{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
    <div>
        <h1>考试须知</h1>
        <hr>
        <div></div>
        <h2>考试时间:2017年6月4日</h2>
        <br>
        <h5>一. 本考试为浙江大学学生E志者协会组织的2017年度精品课程的结业考试，考试时间共20分钟，超时后虽可提交但是分数不计入</h5>
        <h5>二. 考试题型为20道选择题,单选,每道5分</h5>
        <h5>三. 每一题在输入答案之后,需要点按确认键提交当前答案,每道题的答案可以重复提交,所有问题填写完成后按提交键提交所有答案,如果有问题没有回答将会直接返回未回答问题</h5>
        <h5>四. 提交之后可以直接获取考试成绩</h5>
        <h5>五. 每人只有一次考试机会,点按提交按钮视作考试结束</h5>
        <h5>六. 如果因浏览器等问题退出,只要未最终提交都可以再次登录,但是不要认为可以以此方式拖延考试时间,分数统计是取第一条确认的记录的时间延后20分钟内的记录进行的统计</h5>
        <h5>七. 再次重申结业要求: 到课三次及以上或到课两次其他课程全部请假,考试成绩将和到课成绩加权计算,具体成绩表将在群内公布.</h5>
        <h5>八. 祝大家考试顺利</h5>
        </div>
    <br>
    <br>
    <br>
     <div class="col-md-6">
        <a type="button" class="btn btn-default" href="{{ url_for('main.record',page=1 )}}">进入考试</a>
    </div>
    </div>

{% endblock %}