{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block page_content %}
    <div class="col-md-8">
            <div class="act">
                <h1>欢迎参加E志者精品课程结业考试</h1>
            </div>
    <div>
        <hr>
    {% if current_user.is_authenticated %}
        <h4>您已经登入,请按下方按钮进入考试界面</h4>
        <br>
        <a type="button" class="btn btn-default" href="{{ url_for('main.Before') }}">考试</a>
    {% else %}
        <h4>您还没有登入,请点击下方按钮登入</h4>
        <br>
        <a type="button" class="btn btn-default" href="{{ url_for('main.login') }}">登入</a>
    {% endif %}
    </div>
    </div>

{% endblock %}